{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
      <title>Demo Librería</title>
  </head>

  <body>

    <div>
      <a href="/libros/"><img src="{% static 'autores.svg' %}" style="max-width:200px; margin:0 auto;"></a><br />
      <h1> Listado de Estanterias </h1>
    </div>

    <div>
      {% for estanteria in object_list %}
        <a href="{% url 'estanterias-detalle' pk=estanteria.pk %}">{{ estanteria }}</a><br />
      {% endfor %}
    </div>

    <div>
      {% if is_paginated %}
      <ul class="pagination">
      {% if page_obj.has_previous %}
          <li>
              <span><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></span>
          </li>
      {% endif %}
          <li class="">
              <span>Página {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
          </li>
      {% if page_obj.has_next %}
          <li>
              <span><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></span>
          </li>
      {% endif %}
      </ul>
      {% endif %}
    </div>

  </body>

</html>
