{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
      <title>Demo Librería</title>
  </head>

  <body>

    <div>
      <a href="/libros/"><img src="{% static 'autores.svg' %}" style="max-width:200px; margin:0 auto;"></a><br />
      <h1> Detalles de Estantería </h1>
    </div>

    <div>
      <b>Nombre:</b> {{ estanteria.numero }} - {{ estanteria.balda }}<br />
    </div>

    <div>
      <h1> Libros Asociados </h1>
      {% for libro in estanteria.libro_set.all %}
        <b>Título:</b> {{ libro.nombre }}<br />
        <b>ISBN:</b> {{ libro.isbn }}<br />
        <b>Estantería:</b> {{ libro.estanteria }}<br />
      {% empty %}
        No tiene libros registrados en la biblioteca
      {% endfor %}
    </div>

  </body>

</html>
