{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
      <title>Demo Librería</title>
  </head>

  <body>

    <div style="position:relative; left:45%;">

      <a href="/libros/"><img src="{% static 'libros.svg' %}" style="max-width:200px; margin:0 auto;"></a><br />
      <a href="/autores/"><img src="{% static 'autores.svg' %}" style="max-width:200px; margin:0 auto;"></a><br />
      <a href="/estanterias/"><img src="{% static 'estanterias.svg' %}" style="max-width:200px; margin:0 auto;"></a><br />

    </div>

  </body>

</html>
