{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
      <title>Demo Librería</title>
  </head>

  <body>

    <div>
      <a href="/libros/"><img src="{% static 'autores.svg' %}" style="max-width:200px; margin:0 auto;"></a><br />
      <h1> Detalles de Libro </h1>
    </div>

    <div>
      <b>Nombre:</b> {{ libro.nombre }} - <b>ISBN:</b> {{ libro.isbn }}<br />
    </div>

  </body>

</html>
